.advanced-setting-toggle-section {
  width: 430px;
}

.export-schedule-section {
  padding-left: 32px;
  padding-top: 24px;
}

.configuration--field-toggle-section:nth-child(1){
  padding-bottom: 0px;
}

.configuration--field-toggle-note-section{
  padding-left: 32px;
  padding-bottom: 20px;
}
