<div fxLayout="row"  [formGroup]="xeroConnectorForm" fxLayoutAlign="center center" class="configuration--section" [ngClass]="[isOnboarding ? 'configuration--onboarding-section' : '', !isOnboarding ? 'configuration--post-onboarding-section': '']">
  <app-loader [phase]="'pre_onboarding'" *ngIf="isLoading"></app-loader>
  <div *ngIf="!isLoading" class="configuration--contents">
    <app-configuration-step-header-section></app-configuration-step-header-section>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="xero-connector--connection-blocks">
        <div class="xero-connector--fyle-org-section">
          <h5 class="xero-connector--fyle-section-text align-center sub-text-color bold">
            FYLE
          </h5>
          <h3 [matTooltip]="fyleOrgName" [matTooltipDisabled]="fyleOrgName.length > 26 === false" matTooltipPosition="left" matTooltipClass="left" class="align-center default-cursor single-line-text">
            {{ fyleOrgName | trimCharacter: 26 }}
          </h3>
        </div>
        <div class="xero-connector--switch-org-section">
          <div class="xero-connector--org-switch-separator"></div>
          <div class="xero-connector--switch-org-inner-section">
            <h4 class="xero-connector--switch-org-info-text sub-text-color single-line-text">
              Not the organization that you wish to connect?
            </h4>
            <h4 (click)="switchFyleOrg()" class="xero-connector--switch-org-text actionable-text align-center">
              Switch Organization
            </h4>
          </div>
        </div>
      </div>
      <div class="xero-connector--connection-blocks">
        <div class="xero-connector--connection-top-block">
          <div class="xero-connector--connection-block-separator-1"></div>
          <div>
            <img src="assets/gifs/disconnect.gif" height="100px" width="100px"/>
          </div>
          <div class="xero-connector--connection-block-separator-2"></div>
        </div>
      </div>
      <div class="xero-connector--connection-blocks">
        <div class="xero-connector--xero-org-section">
          <h5 class="xero-connector--fyle-section-text align-center sub-text-color bold">
            XERO TENTANT
          </h5>
          <h3 [matTooltip]="xeroCompanyName" [matTooltipDisabled]="xeroCompanyName.length > 26 === false" matTooltipPosition="right" matTooltipClass="right" *ngIf="!xeroConnectionInProgress && xeroCompanyName" class="default-cursor single-line-text align-center">
            {{ xeroCompanyName | trimCharacter: 26 }}
          </h3>
          <p class="align-center" *ngIf="xeroConnectionInProgress">
            <app-loader [size]="'small'"></app-loader>
          </p>
        </div>
        <div *ngIf="!isXeroConnected && !xeroConnectionInProgress && !xeroTokenExpired && !isDisconnectXeroClicked" class="align-center default-cursor">
          <mat-form-field floatLabel="always" appearance="outline">
            <mat-select placeholder="Select a Xero tenant" formControlName="xeroTenant">
              <mat-option *ngFor="let option of tenantList" [value]="{id: option.destination_id, name: option.value}" (click)="tenantSelected()">
                {{ option.value }}
                <img *ngIf="(xeroConnectorForm.value.xeroTenant | json) === ({id: option.destination_id, name: option.value} | json)" src="assets/images/svgs/general/tick-pink.svg" class="selected-value-check-mark">
              </mat-option>
            </mat-select>
            <div class="mat-select-arrow-closed"></div>
          </mat-form-field>
        </div>
        <div class="xero-connector--switch-org-section">
          <div class="xero-connector--org-switch-separator"></div>
          <div class="xero-connector--switch-org-inner-section">
            <h4 *ngIf="!isXeroConnected && !xeroConnectionInProgress && !xeroTokenExpired" class="xero-connector--connection-in-progress-text align-center sub-text-color"> 
              You will need to select a tenant to proceed with the onboarding.
            </h4>
            <h4 *ngIf="!isXeroConnected && !xeroConnectionInProgress && !xeroTokenExpired && isDisconnectXeroClicked" (click)="connectXero()" class="xero-connector--switch-org-text actionable-text align-center">
              Connect to Xero
            </h4>
            <h4 *ngIf="!xeroConnectionInProgress && !xeroTokenExpired && showDisconnectXero && isXeroConnected" class="xero-connector--switch-org-info-text align-center sub-text-color single-line-text">
              Not the Tenant that you wish to connect with?
            </h4>
            <h4 *ngIf="xeroConnectionInProgress" class="xero-connector--connection-in-progress-text align-center sub-text-color">
              Please hold on; we are fetching data from your Xero Tenant, which may take a few seconds.
            </h4>
            <h4 *ngIf="xeroTokenExpired && !xeroConnectionInProgress" class="xero-connector--connection-in-progress-text align-center sub-text-color">
              Token expired
            </h4>
            <h4 *ngIf="!xeroConnectionInProgress && xeroTokenExpired" (click)="connectXero()" class="xero-connector--switch-org-text actionable-text align-center">
              Re-Connect to Xero
            </h4>
            <h4 *ngIf="!xeroConnectionInProgress && showDisconnectXero && isXeroConnected" (click)="disconnectXero()" class="xero-connector--switch-org-text actionable-text align-center">
              Disconnect
            </h4>
          </div>
        </div>
      </div>
    </div>

    <app-configuration-step-footer-section [ctaText]="!xeroConnectionInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="isContinueDisabled" (save)="continueToNextStep()"></app-configuration-step-footer-section>
  </div>
</div>
<app-onboarding-footer [page]="'xero_connector'" *ngIf="!isLoading && isOnboarding"></app-onboarding-footer>
