<div class="onboarding-done--bg-top"></div>
<div class="onboarding-done--bg-bottom"></div>
<div class="onboarding-done--section">
  <div class="onboarding-done--contents">
    <div class="onboarding-done--gif-section">
      <img src="assets/gifs/success-check.gif" class="onboarding-done--align-center" alt="Onboarding done" width="150px"
        height="150px">
    </div>
    <div class="onboarding-done--header">
      <h3 class="align-center" data-cy="completion-prompt">Congratulations! Your integration setup is now complete.</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--submit-btn btn-enabled" (click)="navigateToDashboard()">
        <h5 class="btn-cta-text-without-icon single-line-text" data-cy="launch-cta">
          Launch Integration
        </h5>
      </div>
    </div>
    <div class="onboarding-done--caption-block">
      <div class="onboarding-done--horizontal-separator"></div>
      <div fxLayoutAlign="start start" class="sub-text-color paragraph onboarding-done--content-block" data-cy="re-configure-text">
        <div>
          <img class="onboarding-done--tick-img" height="20px" width="20px" src="assets/images/svgs/general/tick-green.svg">
        </div>
        <ul class="onboarding-done--caption">
          <li>
            You've successfully completed your configurations and you are now ready to launch the integration. 
          </li>
          <li>
            If you'd like to set up the integration for another account, all your current settings will be copied over to the new account. You can still edit them as per your requirement.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="onboarding-done--footer">
  <app-onboarding-footer></app-onboarding-footer>
</div>
