<div fxLayout="row" fxLayoutAlign="space-between center" class="configuration--field-section">
  <div fxLayout="row" fxLayoutAlign="space-between start" class="configuration--field-label-section">
    <img *ngIf="iconPath" src="{{ iconPath }}" class="configuration--icon">
    <div class="configuration--field-label-text-section" [ngClass]="{'configuration-select-field--field-label-text-section-without-img': !iconPath}">
      <div class="configuration--field-header" [ngClass]="{'configuration-select-field--auto-sync': formControllerName === 'paymentSync'}">
        {{ label }}
        <app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field>
      </div>
      <h5 class="configuration--field-label sub-text-color paragraph">
        {{ subLabel }}
      </h5>
    </div>
  </div>
  <div class="configuration--input-section">
    <div *ngIf="exportType" class="configuration--form-field">
      <p class="configuration-select-field--export-type">{{exportType | titlecase}}</p>
    </div>
    <app-select
      [exportType]="exportType"
      [form]="form"
      [options]="options"
      [isFieldMandatory]="isFieldMandatory"
      [mandatoryErrorListName]="mandatoryErrorListName"
      [placeholder]="placeholder"
      [formControllerName]="formControllerName"
      [xeroAttributes]="xeroAttributes"
      [customErrorMessage]="customErrorMessage"
      [phase]="phase"
    >
    </app-select>
  </div>
</div>
<div *ngIf="formControllerName === 'autoMapEmployees' || formControllerName === 'expenseState'" class="configuration-select-field--select-note-section paragraph">
  <div class="configuration-select-field--select-note-content sub-text-color">
    <h5 *ngIf="formControllerName === 'autoMapEmployees'">Note: In case the employee records are not auto matched by the integration, you could still <br> manually map the records from the Mappings section of the integration.</h5>
    <h5 *ngIf="formControllerName === 'expenseState'">Note: Based on the selected state, the integration will automatically import the expenses from Fyle. <br> You can then manually export expenses from the <b>Dashboard</b> or automate the export process in the <b>Advance settings</b>.</h5>
  </div>
</div>
